<!-- <link rel="stylesheet" href="./styles/home.css" /> -->
<style>
  .slider-container {
    width: 300px;
    overflow: hidden;
    position: relative;
    margin: 0 20px;
  }

  .slider {
    display: flex;
    /* transition: transform 0.5s; */
  }

  .slide {
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #3498db;
    color: white;
    /* Измените цвет блоков по вашему усмотрению */
  }
</style>
<div class="slider-container">
  <div class="slider" id="slider1">
    <div class="slide">sdfcgvhb</div>
    <div class="slide">sdxfcgvhbjn</div>
    <div class="slide">dsfcngvhbj</div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <!-- Добавьте еще 9 блоков с классом "slide" здесь -->
  </div>
</div>
<div class="slider-container">
  <div class="slider" id="slider2">
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <!-- Добавьте еще 9 блоков с классом "slide" здесь -->
  </div>
</div>
<div class="slider-container">
  <div class="slider" id="slider3">
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <!-- Добавьте еще 9 блоков с классом "slide" здесь -->
    <button class="prevBtn">Prev</button>
    <button class="nextBtn">Next</button>
  </div>
</div>
<script src="./front_modules/slider.js"></script>
